@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');

nav{
     text-align: center;
     background-color: darkgoldenrod;
     color: black;
     padding: 15px;
    margin: 20px auto;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgb(125, 95, 49);
}

body{
     font-family: "Fontdiner Swanky", serif;
     color: darkgoldenrod;
     background-color: black;
    text-align: center;

}

a{
     color: black;
     background-color: darkgoldenrod;
}