@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');

h1{

}

body{
     font-family: "Fontdiner Swanky", serif;
     color: darkgoldenrod;
     background-color: black;
    

}